.vs/QuanLiNguoiDung/v17/ResourceExplorer/settings.json
.vs/QuanLiNguoiDung/CopilotIndices/17.14.1231.31060/CodeChunks.db
.vs/QuanLiNguoiDung/CopilotIndices/17.14.1231.31060/CodeChunks.db
.vs/QuanLiNguoiDung/CopilotIndices/17.14.1231.31060/CodeChunks.db
.vs/QuanLiNguoiDung/CopilotIndices/17.14.1231.31060/CodeChunks.db-shm
.vs/QuanLiNguoiDung/CopilotIndices/17.14.1231.31060/CodeChunks.db
.vs/QuanLiNguoiDung/CopilotIndices/17.14.1231.31060/CodeChunks.db-wal
.vs/QuanLiNguoiDung/CopilotIndices/17.14.1231.31060/CodeChunks.db
*.db
*.db
.vs/QuanLiNguoiDung/v17/DocumentLayout.backup.json
.vs/QuanLiNguoiDung/v17/.suo
.vs/QuanLiNguoiDung/FileContentIndex/9c2ca36d-0b0e-47b8-80ce-a5fab086ea76.vsidx
